@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0; /* Elimina márgenes por defecto de todos los elementos */
  padding: 0; /* Elimina relleno por defecto */
  border: none; /* Quita cualquier borde por defecto */
  outline: none; /* Quita el contorno que aparece al enfocar (por ejemplo, en formularios) */
  list-style: none; /* Quita los estilos de listas (viñetas o números) */
  box-sizing: border-box; /* Incluye el padding y borde dentro del ancho/alto total del elemento */
  font-family:
    "Poppins", sans-serif; /* Define la fuente principal como Poppins y una genérica sans-serif como alternativa */
}
@media (max-width: 767px) {
  .ant-layout-sider,
  .sidebar {
    display: none !important;
    visibility: hidden;
    width: 0 !important;
    min-width: 0 !important;
    max-width: 0 !important;
  }
}
