/* base global (si no lo tenés ya) */
html,
body,
#root {
  height: 100%;
}

/* layout principal */
.main-layout {
  min-height: 100vh;
}

/* wrapper derecho (header + content) */
.main-layout__content {
  min-height: 100vh;
}

/* contenido de la página */
.main-layout__page {
  padding: 5px;
  padding-left: 5px;
  overflow: auto;
}
