/* base global (si no lo tenés ya) */
html,
body,
#root {
  height: 100%;
}

/* layout principal */
.main-layout {
  min-height: 100vh;
}

/* wrapper derecho (header + content) */
.main-layout__content {
  min-height: 100vh;
}

/* contenido de la página */
.main-layout__page {
  padding: 5px;
  overflow: auto;
}

/* espacio inferior en mobile para la BottomNav */
@media (max-width: 767px) {
  .main-layout__page {
    padding-bottom: 80px;
  }
}
